.navBar{
    display:flex;
    background-color: green;
}
.navBar li{
    list-style-type: none;
    margin: 0 16px;
    padding: 2%;
}
li a{
    text-decoration: none;
    color:white;
}
li a:hover{
    color:orange;
}