*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    display:flex;
    flex-wrap: wrap;
}

.btn{
    background-color: black;
    color:white;
    border-radius: 10%;
    padding:2% 5%;
    margin:2%;
    display:inline-block;
    text-decoration: none;
}
.btn-warning{
    background-color: orange;
}
.btn-warning:hover{
    background-color: white;
    color:black;
    outline: 1px solid yellow;
}
.btn:hover{
    color:black;
    background-color: white;
}